<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <property name="PROJECT_NAME" value="autologging"/>
    <contextName>${PROJECT_NAME}</contextName>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>